In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.model_selection import KFold, cross_val_score

In [2]:
data = pd.read_csv('student_scores.csv')
data

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [3]:
fit_data = data.head(20)
test_data = data.tail(5)

y = pd.DataFrame(fit_data.Scores)
X = pd.DataFrame(fit_data.Hours)

LinReg = LinearRegression()

In [4]:
scores = cross_val_score(LinReg, X, y, cv=5)

In [5]:
print("Cross Validation Scores: ", scores)
print("Average CV Score: ", scores.mean())
print("Number of CV Scores used in Average: ", len(scores))
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean(), scores.std()))

Cross Validation Scores:  [0.84709728 0.97265835 0.94291157 0.94750836 0.94662593]
Average CV Score:  0.9313602987966443
Number of CV Scores used in Average:  5
0.93 accuracy with a standard deviation of 0.04

In [6]:
data = pd.read_csv('petrol_consumption.csv')
data.head(5)

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [7]:
fit_data = data.head(39)
test_data = data.tail(10)

enrollment_data = fit_data[['Petrol_tax', 'Average_income', 'Paved_Highways', 'Population_Driver_licence(%)']].values
enrollment_data_test = test_data[['Petrol_tax', 'Average_income', 'Paved_Highways', 'Population_Driver_licence(%)']].values
enrollment_target = fit_data[['Petrol_Consumption']].values
enrollment_target_test = test_data[['Petrol_Consumption']].values

X, y = enrollment_data, enrollment_target